@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sriracha&display=swap');

.user-greeting {
    font-family: 'Righteous', cursive;    
}

.about {
    font-family: 'Righteous', cursive;    
    font-size: 1.3em;
    /* padding-top: 10px;  */
    /* padding-bottom: 10px;    */
    line-height: 34px;    
    text-align: center;
}